body{font-family: Arial, Helvetica, sans-serif;}


.content{
    display: flex;
    justify-content: center;
}

.register{
    width: 50%;
    height: 500px;
    margin-top: 32px;
}

.description {
    display: flex;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;  
      
}

.field{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.textarea{
    height: 150px;
}

.conteudo {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 500px;
    margin-top: 50px;
}